<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Page</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
</head>
<script src="{{ url_for('static', filename='progressbar/progressbar.min.js') }}"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
    integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="{{ url_for('static', filename='jquery/jquery-3.7.1.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<link rel="stylesheet" href="{{ url_for('static',filename='x.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='bulma.scss') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='sweetalert2.min.css') }}">
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

<body>


    <ul class="tab-bar">
        <li data-num="1" id="text_img" class="tab wave dark">2D Image</li>
        <li data-num="2" id="img_img" class="tab wave dark">Monitor</li>

        <div class="indicator"></div>
    </ul>

    <div class="try-it">
        <div class="model-card">
            <div class="model-card-container">
                <div class="model-card-col">
                    <form method="POST" action="/generate" id="mainForm">

                        <div class="outline-try-it">
                            <h2>Create an image from the above Selections</h2>
                        </div>

                        <span class="model-input-col">
                            <h2>Choose an Animal Type</h2>
                            <select name="animal">
                                <option value="squirrel">Squirrel 🐿️</option>
                                <option value="pig">Pig 🐖</option>
                                <option value="deer">Deer 🦌</option>
                                <option value="rabbit">Rabbit 🐇</option>
                                <option value="monkey">Monkey 🐒</option>
                                <option value="dog">Dog 🦮</option>
                                <option value="pegasus">Pegasus 🦄</option>
                                <option value="elephant">Elephant 🐘</option>
                                <option value="hedgehog">Hedgehog 🦔</option>
                                <option value="skunk">Skunk 🦨</option>
                                <option value="rooster">Rooster 🐔</option>
                                <option value="mouse">Mouse 🐁</option>
                                <option value="ram">Ram 🐏</option>
                                <option value="tiger">Tiger 🐅</option>
                                <option value="ox">Ox 🐂</option>
                                <option value="goat">Goat 🐐</option>
                                <option value="camel">Camel 🐪</option>
                                <option value="two_hump_camel">Two-Hump Camel 🐫</option> -->
                            </select>
                        </span>
                        <span class="model-input-col">
                            <h2>Choose an Style</h2>
                            <select name="style_">
                                <option value="old_cartoon">Old Cartoon Style 📺</option>
                                <option value="modern_cartoon">Modern Cartoon Style 🖥️</option>
                                <option value="realistic_cartoon">Realistic Cartoon Style 🎨</option>
                            </select>
                        </span>
                        <span class="model-input-col">
                            <h2>Choose a Season</h2>
                            <select name="season_">
                                <option value="spring">Spring 🌸</option>
                                <option value="summer">Summer ☀️</option>
                                <option value="autumn">Autumn 🍁</option>
                                <option value="winter">Winter ❄️</option>
                            </select>
                        </span>
                        <span class="model-input-col">
                            <h2>Choose a Time of Day</h2>
                            <select name="time_of_day">
                                <option value="morning">Morning 🌅</option>
                                <option value="noon">Noon 🕛</option>
                                <option value="afternoon">Afternoon 🌞</option>
                                <option value="evening">Evening 🌆</option>
                                <option value="night">Night 🌃</option>
                            </select>
                        </span>
                        <span class="model-input-col">
                            <h2>Choose an Action</h2>
                            <select name="action_">
                                <option value="grazing">Grazing 🐄</option>
                                <option value="hunting">Hunting 🐅</option>
                                <option value="climbing">Climbing 🐒</option>
                                <option value="swimming">Swimming 🐬</option>
                                <option value="flying">Flying 🦅</option>
                                <option value="running">Running 🐎</option>
                                <option value="jumping">Jumping 🦘</option>
                                <option value="digging">Digging 🦡</option>
                                <option value="sleeping">Sleeping 🐼</option>
                                <option value="roaring">Roaring 🦁</option>
                            </select>
                        </span>
                        <h2>Choose the Weather</h2>
                        <select name="weather">
                            <option value="overcast">Overcast ☁️</option>
                            <option value="rain">Rain 🌧️</option>
                            <option value="drizzle">Drizzle 🌧️</option>
                            <option value="snow">Snow 🌨️</option>
                            <option value="storm">Storm 🌩️</option>
                            <option value="fog">Fog 🌫️</option>
                            <option value="sunny">Sunny/Clear ☀️</option>
                            <option value="partially_cloudy">Partially Cloudy 🌤️</option>
                            <option value="cloudy">Cloudy ☁️</option>
                            <option value="hurricanes">Hurricanes 🌩️</option>
                            <option value="sandstorms">Sandstorms 🌫️</option>
                        </select>
                        </span>
                        <span class="model-input-col">
                            <h2>Choose the Habitat</h2>
                            <select name="place">
                                <option value="wetlands">Wetlands 🌧️</option>
                                <option value="tundra">Tundra ❄️</option>
                                <option value="savanna">Savanna 🌾</option>
                                <option value="rainforest">Tropical Rainforest 🌴</option>
                                <option value="desert">Desert 🏜️</option>
                            </select>
                        </span>
                        <span class="model-input-col">
                            <h2>Choose a Perspective</h2>
                            <select name="perspective">
                                <option value="birds_eye_view">Bird's Eye View 🦅</option>
                                <option value="worms_eye_view">Worm's Eye View 🐛</option>
                                <option value="third_person">Third Person 👥</option>
                                <option value="side_view">Side View 👁️</option>
                            </select>
                        </span>
                        <input type="hidden" name="socketid" class="socketid" />
                        <div class="edit-buttons-container">

                            <p><button id="trigger" class="sub_btn" type="submit">Submit</button></p>

                        </div>

                        <div id="pbar"></div>
                    </form>

                    <form method="POST" id="img_2_img_form" style="visibility: hidden; max-height: 0; display: none;">

                        <div class="outline-try-it">
                        </div>
                        <span class="model-input-col">
                            <h2>Monitor Resources</h2>

                            <span class="model-input-col">
                                <h2>Monitor CPU</h2>

                                <div class="chart-row">
                                    <div class="chart-container">
                                        <canvas id="cpuChart"></canvas>
                                    </div>
                                    <h2>Monitor GPU</h2>
                                    <div class="chart-container">
                                        <canvas id="gpuChart"></canvas>
                                    </div>
                                    <h2>Monitor RAM</h2>
                                    <div class="chart-container">
                                        <canvas id="ramChart"></canvas>
                                    </div>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });

    var bar = new ProgressBar.Line(document.getElementById('pbar'), {
        strokeWidth: 4,
        easing: 'easeInOut',
        duration: 500,
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        svgStyle: { width: '100%', height: '100%' },
        from: { color: '#FFEA82' },
        to: { color: '#ED6A5A' },
        step: (state, bar) => {
            bar.path.setAttribute('stroke', state.color);
        }

    });
    window.onload = function () {
        const socket = io();
        let socketid = undefined
        socket.connect("https://localhost:10232");

        socket.on("connect", function () {
            console.log("Connected!");
            socketid = socket.id;
            $(".socketid").val(socketid);
            console.log("ID: " + socketid);

        })
        socket.on("update progress", function (perecent) {
            console.log("Got perecent: " + perecent);
            bar.animate(perecent);
            // bar.set(perecent);
            // bar_img2img.animate(perecent);
            if (perecent == 1) {
                btn_submit.show(500);

                Toast.fire({
                    icon: "success",
                    title: "Image Processing successfully"
                });
            }

        })

        let btn_submit = $("#trigger");
        btn_submit.click(function () {
            btn_submit.hide(500);
            bar.set(0);
            $("#mainForm").submit();

            setTimeout(function () {
                fetch("/progressInfo/" + socketid, {
                    method: "POST"
                }).then(response => {
                });
            }, 2000);

        });
    }
</script>

<script>

    var waveBtn = (function () {
        'use strict';
        var btn = document.querySelectorAll('.wave'),
            tab = document.querySelector('.tab-bar'),
            indicator = document.querySelector('.indicator'),
            indi = 0;
        indicator.style.marginLeft = indi + 'px';

        for (var i = 0; i < btn.length; i++) {
            btn[i].onmousedown = function (e) {
                var newRound = document.createElement('div'), x, y;

                newRound.className = 'cercle';
                this.appendChild(newRound);

                x = e.pageX - this.offsetLeft;
                y = e.pageY - this.offsetTop;

                newRound.style.left = x + "px";
                newRound.style.top = y + "px";
                newRound.className += " anim";

                indicator.style.marginLeft = indi + (this.dataset.num - 1) * 150 + 'px';

                setTimeout(function () {
                    newRound.remove();
                }, 1200);
            };
        }
    }());

</script>

<script>

    $(document).ready(function () {

        $(".tab.wave.dark").click(function () {
            var show_page = $(this).attr("data-num");
            console.log(show_page);
            if (show_page == 1) {

                $("#img_2_img_form").css({
                    "visibility": "hidden",
                    "max-height": "0",
                    "display":"none"
                });

                $("#mainForm").css({
                    "visibility": "",
                    "max-height": "",
                    "display":"block"
                });
            }
            else if (show_page == 2) {
                $("#mainForm").css({
                    "visibility": "hidden",
                    "max-height": "0",
                    "display":"none"
                });

                $("#img_2_img_form").css({
                    "visibility": "",
                    "max-height": "",
                    "display":"block"
                });
            }
        });


    });


</script>

<script src="{{ url_for('static', filename='chartjs/activate_chart.js') }}"></script>




</html>